.required{
    color: red;
}

.key-title{
    font-weight: 500;
    text-transform: uppercase;
    font-style: bold;
}

.section{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 20px;
}

.box-style{
    margin-top: 25px;
}


.person-2 {
    display: none;
}